tr > td:nth-child(2):before {
  content: 'Column 1: ';
}

tr > td:nth-child(3):before {
  content: 'Column 2: ';
}

tr > td:nth-child(4):before {
  content: 'Column 3: ';
}

tr > td:nth-child(5):before {
  content: 'Column 4: ';
}
